# Configure Consul address, the default address is `localhost:8500`
# TIPS: If you provide `CONSUL_ANONYMITY_NAME`, all services will register with `CONSUL_ANONYMITY_NAME` as prefix
CONSUL_ADDR=localhost:8500
CONSUL_ANONYMITY_NAME=paraparty.
# Configure logger level, support: DEBUG, INFO, WARN (WARNING), ERROR, FATAL
LOGGER_LEVEL=INFO
# Cofigure logger integrated with otel, support: enable, disable
# If this setting is enable, you will see log in the OTEL Export with possible runtime waste
LOGGER_OUT_TRACING=disable
# Configure Tied information, which will be bound with every log print
TIED=
# Configure PostgreSQL connection information
# You can just provide conn, and the program will auto migrate data
# If you do not provide PostgreSQL schema, this field would not take effect without any error
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=
POSTGRESQL_SCHEMA=
POSTGRESQL_PREFIX=
# Configure PostgreSQL replica, use `enable` or `disable`, default by `disable`
POSTGRESQL_REPLICA=disable
# Configure PostgreSQL Replica, use `,` to split different addr, like 'test1:5432,test2:5432'
POSTGRESQL_REPLICA_ADDR=
POSTGRESQL_REPLICA_USER=
POSTGRESQL_REPLICA_PASSWORD=
# Configure storage mode, support: fs, s3
# fs: stoarge binary files in the local machine, use this should provide `FS_PATH` config, or will output at /tmp. Aslo,
#     you should provide `FS_BASEURL`, the default is `http://localhost/`
# s3: I do not know what is s3, do not ask me plz.
STORAGE_TYPE=fs
FS_PATH=
FS_BASEURL=http://localhost/
# Configure redis host
# `REDIS_PASSWORD` has a default value ''
# `REDIS_DB` has a default value '0'
# `REDIS_PREFIX` will make field `PREFIX-KEYNAME` style
# TIPS: There is a Auto choose mode for Redis
# TIPS: You can opt to use `Single Redis Node` with providing a single ip
# TIPS: You can opt to use `Redis Cluster` with providing multi redis using ';' to split
# TIPS: When you trying to use Redis Cluster, you should ensure they have the same password or have no password
# TIPS: If you do not provide the name of REDIS_MASTER, the Redis client will use normal way get addr of REDIS SERVER
REDIS_PREFIX=GuGoTik
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=
REDIS_MASTER=
# Config Tracing EndPoint, support Jaeger
# Config state, if use `disable` the sampler will be closed. use `enable` to enable
TRACING_STATE=
# Config tracing sampler, suggest 0.01
TRACING_SAMPLER=
TRACING_ENDPOINT=http://localhost:14268/api/traces
# Optional: Config Pyroscope
# Decide whether to enable the service, support : enable, disable.
# If you enable this service, you must provide Pyroscope server environment
# This profiling is ONLY designed for DEBUGGING
# SO, PLEASE DO NOT ENABLE THIS SERVICE IN YOUR PRODUCTION ENVIRONMENT, OR IT MAY TAKE MUCH RUNTIME COST.
PYROSCOPE_STATE=disable
PYROSCOPE_ADDR=http://localhost:4040/
# Configure RabbitMQ
# Optional: `RABBITMQ_VHOST_PREFIX`: If you provide this config, the service will use value as the rabbit mq vhost prefix.
# The default value of `RABBITMQ_VHOST_PREFIX` is empty, so if the service use `/post`, the real host is `/post` also.
# ATTENTION: The value of `RABBITMQ_VHOST_PREFIX` is "path/to/your/host" like, such as `gugotik`, but not `/gugotik`
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_ADDRESS=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST_PREFIX=
# ChatGPT API secret key
CHATGPT_API_KEYS=
# Configure your POD IP, which marks your host ip.
# If you run GuGoTik as Standalone, please just set this config `localhost` or `127.0.0.1`, the default value is `localhost`
# If you run GuGoTik by Docker Compose, please inject this config into the environment variable which can be got by using `hostname -i`
# If you run GuGoTik by K8S, please inject this config using K8S variable
POD_IP=
# Gorse provides recommend service for GuGoTik.
GORSE_ADDR=
GORSE_APIKEY=
# MagicUserId, please use output value
MAGIC_USER_ID=
# Configure your clash proxy
CHATGPT_PROXY=
# Default anonymity user
ANONYMITY_USER=
# Configure your Elastic Search Address
ES_ADDR=
